<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>
    <p class="text-center">
        {{ with .Site.Params.facebook }}<a href="{{ . }}">Facebook</a> {{ end }}
        {{ with .Site.Params.twitter }}<a href="{{ . }}">Twitter</a> {{ end }}
        {{ with .Site.Params.linkedin }}<a href="{{ . }}">Linkedin</a> {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> {{ end }}
        {{ with .Site.Params.gitlab }}<a href="{{ . }}">GitLab</a>{{ end }}
    </p>
</footer>

